<!DOCTYPE html>
<html>
  <head>
    <title><%= guild_name %> - WoW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//wow.zamimg.com/widgets/power.js' %>
  </head>

  <body>
    <div class="body-content" style="padding: 25px;">
      <%= yield %>
    </div>
  </body>
</html>
