<!DOCTYPE html>
<html>
  <head>
    <title><%= guild_name %> - WoW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//wow.zamimg.com/widgets/power.js' %>

    <style>
      .panel-primary .panel-heading { background-color: <%= guild_colour %>; }
    </style>

    <% if Rails.application.config.google_analytics_tracking_ID != nil %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= Rails.application.config.google_analytics_tracking_ID %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

  </head>

  <body>
    <div class="body-content" style="padding: 25px;">
      <%= yield %>
    </div>
  </body>
</html>
