<!DOCTYPE html>
<html>
  <head>
    <title><%= guild_name %> - WoW</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//wow.zamimg.com/widgets/power.js' %>

    <style>
      .panel-primary .panel-heading { background-color: <%= guild_colour %>; }
    </style>

    <% if Rails.application.config.google_analytics_tracking_ID != nil %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= Rails.application.config.google_analytics_tracking_ID %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

  </head>

  <body class="skin-red fixed sidebar-mini">
    <div class="wrapper">
      <div class="main-header">
        <%= link_to root_path do %>
          <div class="logo">
            <span class="logo-lg">
              <i class="fa fa-hand-rock-o"></i>&nbsp;<%= guild_name %>
            </span>
            <span class="logo-sm">
              <i class="fa fa-hand-rock-o"></i>
            </span>
          </div>
        <% end %>
        <nav class="navbar navbar-static-top" role="navigation">
          <a class="sidebar-toggle" data-toggle="offcanvas" href="#" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
          </div>
        </nav>
      </div>
      <div class="main-sidebar">
        <div class="sidebar">
          <div class="user-panel">
            <%= render partial: "front/tabard" %>
          </div>
          <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li class="<%= cp(members_path) %>">
              <%= link_to members_path do %>
                <i class="fa fa-users"></i>
                <span>Members</span>
              <% end %>
            </li>
            <li class="<%= cp(events_path) %>">
              <%= link_to events_path, class: cp(events_path) do %>
                <i class="fa fa-bell"></i>
                <span>Events</span>
              <% end %>
            </li>
            <li class="<%= cp(progression_index_path) %>">
              <%= link_to progression_index_path do %>
                <i class="fa fa-trophy"></i>
                <span>Progression</span>
              <% end %>
            </li>
            <li class="header">LINKS</li>
            <li>
              <a href="https://bist.fistweapon.net">
                <i class="fa fa-dollar"></i>
                <span>Best In Slot</span>
              </a>
            </li>
            <li>
              <a href="<%= combat_logs_url %>">
                <i class="fa fa-tasks"></i>
                <span>Combat Logs</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
